<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcc.ufpb.com.br.tcc">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <application

        android:name=".application.ForcaApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ABCdaForca"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:hardwareAccelerated="false"
        android:largeHeap="true"
        >
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.JogoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ContextoActivity"
            android:label="@string/title_activity_contexto"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.NivelActivity"
            android:label="@string/title_activity_nivel"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gerenciador.GerenciadorDeContextos"
            android:label="@string/title_activity_gerenciador_de_contextos"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gerenciador.GerenciadorDePalavras"
            android:label="@string/title_activity_gerenciador_de_palavras"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>